:root {
  --red: #ec1d24;
  --white: #fff;
  --black: #000;
  --selected-backdrop: rgba(236, 29, 36, 0.5);
}

body {
  display: flex;
  justify-content: center;
}

.header {
  background-color: var(--red);
  width: 100vw;
  display: flex;
  justify-content: center;
}

.width-wrapper {
  max-width: 1440px;
  width: 80vw;
  margin: 0 auto;
}

.header-content {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comic-search {
  background-color: var(--white);
  border: none;
  border-radius: 6px;
  font-size: 14px;
  line-height: 22px;
  color: var(--black);
  padding: 8px 10px 8px 25px;
  outline: none;
  min-width: 250px;
}

.header-search-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 5px;
  top: 12px;
}

.carousel {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.carousel-width-wrapper {
  width: 800px;
}

.carousel-content {
  display: flex;
  overflow: hidden;
}

.carousel-item {
  padding: 5px 20px;
  position: relative;
  cursor: pointer;
}

.carousel-item .selection-wrap,
.carousel-item .selection-check {
  display: none;
}

.carousel-item.selected .selection-wrap {
  display: block;
  position: absolute;
  top: 5px;
  left: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--selected-backdrop);
}

.carousel-item.selected .selection-check {
  display: block;
  position: absolute;
  bottom: 0;
  right: 30px;
}

.carousel-img {
  border-radius: 50%;
}

.carousel-ctrl {
  cursor: pointer;
}

.comic-books-table {
  display: flex;
  flex-wrap: wrap;
}

.comic-book {
  margin: 10px 10px;
  width: 150px;
  height: 200px;
  background-color: tomato;
}
