:root {
  --red: #ec1d24;
  --white: #fff;
  --black: #000;
  --selected-backdrop: rgba(236, 29, 36, 0.5);
  --background: #1c1c1c;
  --grey: #d9d9d9;
  --light-grey: #fcfcfc;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  color: var(--black);
}

.header {
  background-color: var(--red);
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.width-wrapper {
  max-width: 1440px;
  width: 80vw;
  margin: 0 auto;
}

.header-content {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comic-search {
  background-color: var(--white);
  border: none;
  border-radius: 6px;
  font-size: 14px;
  line-height: 22px;
  color: var(--black);
  padding: 8px 10px 8px 25px;
  outline: none;
  min-width: 250px;
}

.header-search-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 5px;
  top: 12px;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.carousel {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 5px solid var(--grey);
  position: fixed;
  left: 0;
  top: 72px;
  width: 100vw;
  background-color: var(--white);
}

.carousel-width-wrapper {
  width: 820px;
}

.carousel-content {
  display: flex;
  overflow: hidden;
}

.carousel-item {
  padding: 5px 20px;
  position: relative;
  cursor: pointer;
}

.carousel-item .carousel-img {
  border: 2px solid var(--black);
}

.carousel-item .selection-wrap,
.carousel-item .selection-check {
  display: none;
}

.carousel-item.selected .selection-wrap {
  display: block;
  position: absolute;
  top: 5px;
  left: 20px;
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background-color: var(--selected-backdrop);
}

.carousel-item.selected .selection-check {
  display: block;
  position: absolute;
  bottom: 0;
  right: 30px;
  border-radius: 50%;
  border: 2px solid var(--black);
}

.carousel-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.carousel-ctrl {
  cursor: pointer;
}

.comic-books-table {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;
  margin-top: 200px;
}

.comic-book {
  margin: 10px 10px;
  border: 3px solid var(--black);
}

.pagination-ctrls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 20px 0 30px;
  border-top: 5px solid var(--red);
  background-color: var(--white);
}

.pagination {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.pageNum {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  margin: 0 5px;
  cursor: pointer;
  font-weight: 600;
}

.pageNum.selected {
  background-color: var(--red);
  color: var(--white);
}

.page-enddots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-endpoint-ctrl {
  padding: 0 20px;
  cursor: pointer;
}

.comics-loader {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
